{
  "env": {
    "development": {
      "presets": [
        "stage-0",
        "env"
      ],
      "plugins": [
        [
          "babel-plugin-inline-import",
          {
            "extensions": [
              ".json",
              ".sql",
              ".graphql"
            ]
          }
        ],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ]
    }
  }
}
